
Technology Fundamentals with C\# - 2022/.DS_Store
Technology Fundamentals with C\# - 2019/Projects/01_Tetris/.DS_Store
Technology Fundamentals with C\# - 2019/Projects/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/More_Exercise/P02_PascalTriangle/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/More_Exercise/P01_EncryptSortAndPrintArray/obj/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/More_Exercise/P01_EncryptSortAndPrintArray/bin/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/More_Exercise/P01_EncryptSortAndPrintArray/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/More_Exercise/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P09_KaminoFactory/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P08_MagicSum/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P07_MaxSequenceOfEqualElements/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P06_EqualSum/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P05_TopIntegers/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P04_ArrayRotation/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P03_Zig-ZagArrays/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P02_CommonElements/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P01_Train/obj/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/P01_Train/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/.vs/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/Exercise/.DS_Store
Technology Fundamentals with C\# - 2019/10_Arrays_Exercise/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/P08_CondenseArrayToNumber/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/P07_EqualArrays/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/P06_EvenAndOddSubtraction/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/P05_SumEvenNumbers/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/P04_ReverseArrayOfStrings/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/P03_RoundingNumbers/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/P02_PrintNumbersInReverseOrder/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/P01_DayOfWeek/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/.vs/09_Arrays/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/.vs/.DS_Store
Technology Fundamentals with C\# - 2019/09_Arrays/.DS_Store
Technology Fundamentals with C\# - 2019/08_BasicCSS/Lab/.DS_Store
Technology Fundamentals with C\# - 2019/08_BasicCSS/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/More_Exercise/P01_DataTypeFinder/obj/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/More_Exercise/P01_DataTypeFinder/bin/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/More_Exercise/P01_DataTypeFinder/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/More_Exercise/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P11_Snowballs/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P10_PokeMon/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P09_SpiceMustFlow/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P08_BeerKegs/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P07_WaterOverflow/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P06_TriplesOfLatinLetters/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P05_PrintPartOfASCIITable/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P04_SumOfChars/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P03_Elevator/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P02_SumDigits/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/P01_IntegerOperations/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/Exercise/.DS_Store
Technology Fundamentals with C\# - 2019/07_DataTypesAndVariables_Exercise/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P12_RefactorSpecialNumbers/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P11_RefactorVolumeOfPyramid/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P10_LowerOrUpper/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P09_CharsToString/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P08_TownInfo/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P07_ConcatNames/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P06_ReversedChars/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P05_SpecialNumbers/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P04_CenturiesToMinutes/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P03_ExactSumOfRealNumbers/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P02_PoundsToDollars/obj/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P02_PoundsToDollars/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P01_ConvertMetersToKilometers/obj/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/P01_ConvertMetersToKilometers/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/.vs/.DS_Store
Technology Fundamentals with C\# - 2019/06_DataTypesAndVariables/.DS_Store
Technology Fundamentals with C\# - 2019/05_BasicHTML/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/More_Exercise/P05Messages/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/More_Exercise/P04ReverseString/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/More_Exercise/P03GamingStore/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/More_Exercise/P02EnglishNameOfTheLastDigit/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/More_Exercise/P01SortNumbers/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/More_Exercise/P01SortNumbers/bin/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/More_Exercise/P01SortNumbers/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/More_Exercise/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/10_RageExpenses/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/09_PadawanEquipment/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/09_PadawanEquipment/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/08_TriangleOfNumbers/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/08_TriangleOfNumbers/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/07_VendingMachine/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/07_VendingMachine/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/06_StrongNumber/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/06_StrongNumber/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/05_Login/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/05_Login/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/04_PrintAndSum/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/04_PrintAndSum/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/03_Vecation/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/03_Vecation/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/02_Division/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/02_Division/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/01_Ages/obj/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/01_Ages/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/Exercise/.DS_Store
Technology Fundamentals with C\# - 2019/04_BasicSyntaxDonditionalStatementsAndLoops_Exercise/.DS_Store
Technology Fundamentals with C\# - 2019/03_BasicSyntaxDonditionalStatementsAndLoops/01_StudentInformation/.DS_Store
Technology Fundamentals with C\# - 2019/03_BasicSyntaxDonditionalStatementsAndLoops/.DS_Store
Technology Fundamentals with C\# - 2019/.DS_Store
.DS_Store
*.ts alias
*.mp4 alias
Technology Fundamentals with C\# - 2019/09_Arrays/P01_DayOfWeek/obj/Debug/netcoreapp3.1/P01_DayOfWeek.csproj.AssemblyReference.cache
*.cache
*.cache
*.cache
*.json
*.json
