div{
    display: inline-block;
    width: 30%;
    margin-left:2%;
    vertical-align: top;
}

span{
    font-weight: bold;
    border: 3px dotted darkcyan;
}

h1{
    text-align: center;
    color: blue;
}

p{
    color: darkviolet;
}

li{
    border: 3px solid yellow;
}

#green{
    background: green;
}
#blue{
    background: blue;
}
#red{
    background-color: red;
}
#purple{
    background-color: purple;
}
#orange{
    background-color: orange;
}

.blocks{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 25px;
    font-weight: 700;
    color: white;
    display: inline;
    padding: 20px;
    margin: 20px;
    border: 3px solid yellow;
}